{% extends 'accounts/base_register.html' %}

{% block title %}Восстановление пароля{% endblock %}




{% block main%}

    <div class="login-block block-70p">
        
        <div class="password_reset_content">
        
            <h1>Восстановление пароля завершено!</h1>
            <span class="message_reset_body" >
                Ваш пароль был успешно сохранен. Теперь вы можете войти в свой аккаунт.
            </span>
            <br><br> <a class="link_to_login" href="{% url 'accounts:login' %}">Войти</a>
    
        </div>
    
    </div>

{% endblock %}