{% extends 'accounts/base_register.html' %}

{% block title %}Восстановление пароля{% endblock %}




{% block main%}

    <div class="login-block block-70p">
        
        <div class="password_reset_content">
        
            <h1>Письмо с инструкциями по восстановлению пароля отправлено!</h1>
            <span class="message_reset_body" >
                    Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.
                    <br> Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.
            </span>
            <br><br> <a class="link_to_login" href="{% url 'shop:home' %}">На главный экран</a>
    
        </div>
    
    </div>

{% endblock %}