{% extends 'accounts/base_register.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block main %}

    <div class="login-block">
                
        <div class="content">

            <div class="login-title">Восстановление пароля</div>
            <p style="margin: 10px 0; text-align: center;" >Введите адрес почты на которую был зарегестрирован аккаунт. <br> Отправка письма может занять некоторое время.</з>
            <form class="login-form" method="POST">

                {% csrf_token %}
                {% for field in form %}

                    {{field}}

                    {% comment %} {% for error in field.errors %}
                        <h1>{{field.__dict__}}</h1>
                    {% endfor %} {% endcomment %}

                {% endfor %}
                <input class="login-submit-button" type="submit" value="Востановить пароль"> 

            </form>

        </div>

    </div>

{% endblock %}